<div class="flex md:flex-row flex-col md:min-w-full md:justify-between sticky top-0 text-yoga-950">

    <div class="md:hidden">
        <button onclick="document.documentElement.lang = 'en';
    document.body.dispatchEvent(new CustomEvent('lang-change')); ">En
        </button>
        <span>  |  </span>
        <button onclick="document.documentElement.lang = 'fr';
    document.body.dispatchEvent(new CustomEvent('lang-change'));">Fr
        </button>
    </div>


    <div>
        <button hx-get="/schedule.html" hx-trigger="click" hx-target="#content" onclick="
            const menu = document.getElementById('burger');
            menu.classList.toggle('hidden');
            ">
            <t-lang en>Classes</t-lang>
            <t-lang fr>Cours</t-lang>
        </button>
    </div>
    <div>
        <button hx-get="/booking.html" hx-target="#content" hx-trigger="click" onclick="
            const menu = document.getElementById('burger');
            menu.classList.toggle('hidden');
            ">
            <t-lang en>Online Yoga</t-lang>
            <t-lang fr>En Ligne</t-lang>
        </button>
    </div>
    <div>

        <button hx-get="/prices.html" hx-target="#content" hx-trigger="click" onclick="
            const menu = document.getElementById('burger');
            menu.classList.toggle('hidden');
            ">
            <t-lang en>Prices</t-lang>
            <t-lang fr>Tarifs</t-lang>
        </button>
    </div>
    <div>
        <button hx-get="/booking.html" hx-target="#content" hx-trigger="click" onclick="
            const menu = document.getElementById('burger');
            menu.classList.toggle('hidden');
            ">
            <t-lang en>Events &amp; Retreats</t-lang>
            <t-lang fr>Evénements &amp; Retraites</t-lang>
        </button>
    </div>
    <div>
        <button  onclick="
            const menu = document.getElementById('burger');
            menu.classList.toggle('hidden');
            ">
            <t-lang en>Blog</t-lang>
            <t-lang fr>Blog</t-lang>
        </button>
    </div>
    <div>
        <button hx-get="/main.html" hx-trigger="click" hx-target="#content" onclick="
            const menu = document.getElementById('burger');
            menu.classList.toggle('hidden');
            ">
            <t-lang en>About</t-lang>
            <t-lang fr>Qui-suis-je ?</t-lang>
        </button>
    </div>

</div>
